.App {
  min-height: 100vh;    
  min-width: 98vw;  
  text-align: center;  
  font-family: 'Pokemon Solid', sans-serif;
  background-image: url('https://images3.alphacoders.com/273/273289.jpg');
  background-size: 100% 100%;
                                            
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
