.loading{
    padding-top: 250px;
}

.loading_image{
    width: 10%;
    height: 10%;
    display: inline-block;
    position: relative;
    top: 25px;
}

.loading_texto{
    display: inline-block;
    font-size: 28px;
    letter-spacing: 2px;
} 

.pokemon_card_container {
    display: block;
    position: relative;
    background: linear-gradient(to bottom, rgb(255, 102, 0), rgb(255, 145, 71));
    width: 350px;
    height: 500px;
    left: 40%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    top: 50px; 
      
}

.pokemon_card{
    height: 480px;
}

.background {
    height: 50%;
    text-align: center;
    background: linear-gradient(to right, brown, rgb(154, 81, 81));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image {
    width: 230px;
    height: 230px;
    
}

.content{
    height: 10%;
    background: linear-gradient(to right, rgb(255, 183, 0), rgb(255, 183, 0));
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    
    
}

.pokemon_name{
    height: 48px;
    text-align: right;
    font-size: 25px;
    font-weight: lighter;
    padding-right: 10px;
    position: relative;
    top: -20px;   
    letter-spacing: 2px;
}

.pokemon_type{    
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    padding: 7px;
    color: white;
    border-radius: 5px;
    width: fit-content;
    display: block;
    text-align: center;
    position: relative;
    top: -62px;
    left: 5px;    
}

.pokemon_stats {
    height: 30%;
    padding: 20px; 
}

.pokemon_stats > p {
    margin: 4px;     
    font-weight: 800;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    letter-spacing: 1px;

}
.pokemon_logo{
    height: 10%;
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    
}

.btn_volver{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 25px;
    width: 100px;
    background: #f6fe00;
    background-image: -webkit-linear-gradient(top, brown, orange);
    border-radius: 28px; 
    border: none;
    cursor: pointer;    
}

.btn_volver:hover{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 2);
    position: relative;
    top: -1px;
}



