.loading{
    padding-top: 250px;
}

.loading_image{
    width: 10%;
    height: 10%;
    display: inline-block;
    position: relative;
    top: 25px;
}

.loading_texto{
    display: inline-block;
    font-size: 28px;
    letter-spacing: 2px;
}

.searchBar{    
    background-color: black;
    display: flex;
    margin-bottom: 10px;
    height: 115px;
}

.searchBar_black {
    background-color: black;
    width: 40%;
    display: flex;
}

.searchBar_chocolate {
    background-color: chocolate;
    width: 60%;
    height: 90%;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 26px;
}

.chocolate_link{
    color: black;
    
}

.chocolate_link:hover{   
    position: relative;
    top: -1px;
}

.home{
    background: linear-gradient(to right, rgb(227, 227, 227), rgb(176, 176, 176));
    min-height: 100vh;
}

.container_ord_filt{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.content_filt_ord {
    display: flex;
    width: 250px;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 14px;        
    color: white;
}

.etiquetas_ord_filt{
    font-family: 'Courier New', Courier, monospace;
}

.select_ord_filt{
    background-image: -webkit-linear-gradient(top, rgb(255, 248, 219), rgb(202, 197, 186));
    cursor: pointer;
}

.paginado {
    height: 115px;
    position: relative;
    margin: 0 auto;
    
}

.containerCards{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 24px;
    width: 95vw;    
    margin: 0 auto;
    padding-bottom: 40px;
    background-image: url('https://i.pinimg.com/564x/51/09/cf/5109cf1080d324788f79597b63f183d7--pokemon-names--pokemon.jpg');
    position: relative;
    top: -15px;
}

.container_card {
    display: block;
    cursor: pointer;
    height: 280px;
    width: auto;
    position: static;
}

.card{
    
    width: 250px;
    height: 300px;    
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to right, rgb(255, 102, 0), rgb(255, 145, 71));
    box-shadow: 0 5px 25px rgba(0, 0, 0, 2);    
    margin-top: 40px;
    margin-left: 2%;
    margin-right: 2%;   
}

.card:hover{
    position: relative;
    top: -10px    
}