.container{
    display: block;
    height: 100vh;
    text-align: center;
}

.formulario {
    width: 700px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.contenedor_input {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;    
}

.input {
    width: 300px;
}

.contenedor_types{
    width: 220px;
    text-align: center;
}

.type {
    position: absolute;
    left: 855px;
    top: 125px;
}

.contendor_type{
    display: flex;
    width: 140px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.contendor_type_btn{
    top: 5px;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 28px; 
    width: 50px;
    border: none;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, brown, orange);
}

.contendor_type_btn:hover{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 2);
    position: relative;
    top: -1px;
}

.select {
    position: relative;
    top: -5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: -webkit-linear-gradient(top, brown, orange);
}


.btn_crear {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 40px;
    width: 150px;
    background: #f6fe00;
    background-image: -webkit-linear-gradient(top, brown, orange);
    border-radius: 28px; 
    border: none;
    cursor: pointer;
    bottom: -135px;   
}

.errors{
    display: block;
    font-size: 14px;
    width: 220px;
    height: 30px;
    position: relative;
    top: 135px;
    margin: 0 auto;
}

.container_btn {
    margin: 0px auto;
}

.btn_volver {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 40px;
    width: 150px;
    background: #f6fe00;
    background-image: -webkit-linear-gradient(top, brown, orange);
    border-radius: 28px; 
    border: none;
    cursor: pointer;
}

.btn_volver:hover{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 2);
    position: relative;
    top: -1px;
}